/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------- */
img{
  pointer-events: none;
}
html body{
  background: url(https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

body{
  background: blueviolet;
  margin: 20px;
  padding: 0;
}

	/* NavBar */

  .logo{
    width: 300px;
	  height:75px;;
    }			
    .navbar-nav .nav-link {
      color: #ff8906 !important;
      font-size: 1.75rem;
    }
    
    .navbar-nav .nav-link:hover {
      color: #e53170 !important;
	    text-decoration: underline;

    }
/* ------------------------------------------------------------- */
/* Categories */

.Categories{
    display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
  	justify-content: center;
  	align-content: center;
    min-height: 100%;
    
     
}
.Categories ul{
  padding-left: 10px;
  padding-top: 6px;
  font-size: 1.1rem;
}
.Categories li{
  display: inline-block;
  border-right: 1px solid #bbb;
  padding-right: 5px;
}
.Categories li a{
  text-decoration: none;
  color: black;
}

.Categories li a:hover{
  text-decoration: underline;
  color: #e53170;
}




/* ------------------------------------------------------------- */

/* Header */

.header{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.header p{
  font-style: oblique;
  color: #e53170;
  font-size: 1.5rem;

}
.header h1{
  font-style: initial;
  color: #e53170;
  font-size: 2rem;

}

/* ------------------------------------------------------------- */



/* Footer */

#footer{
  text-align: center;
  margin-top: 50px;
}
#footer p{
	color: black;
}

#footer .social-icon{
  color: #ff8906;
  
  
}
/* ------------------------------------------------------------- */
.wrapper{
  align-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  align-content: center;
  min-height: 100%;

}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}












                  /* color pallet */
					  
/* #0f0e17   	background */
/* #fffffe	  	headlines/button text/main */
/* #a7a9be		paragraph	   */
/* #ff8906		button */
/* #f25f4c		secondary */
/* #e53170		tertiary */

  /* ------------------------------------------------------------- */