/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------- */
img{
	pointer-events: none;
  }

body{
	background: url(https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30% 30%;
}

			/* NavBar */

.logo{
	width: 300px;
	height:75px;
}			
.navbar-nav .nav-link {
	color: #ff8906 !important;
	font-size: 1.75rem;
}

.navbar-nav .nav-link:hover {
	color: #e53170 !important;
	text-decoration: underline;
}
/* ------------------------------------------------------------- */



/* slideshow */


.carousel-inner{
padding-top: 5%;
padding-bottom: 5%;
}

.carousel-item img{
	max-width:50%;
	max-height:50%; 
  }
/* ------------------------------------------------------------- */

/* text under slideshow */

.Bottom-intro{
  color:white;
  text-align: center;
  padding-bottom: 5%;
  padding-bottom: 5%;
}
/* ------------------------------------------------------------- */


/* Footer */

#footer{
	text-align: center;
  }
  #footer p{
	color: #fffffe;
}

#footer .social-icon{
	color: #ff8906;
} 
  /* ------------------------------------------------------------- */

/* TRYING TO REMEMBER WHAT THIS WAS FOR???????????????
/* .press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} */



 					/* color pallet */
					  
/* #0f0e17   	background */
/* #fffffe	  	headlines/button text/main */
/* #a7a9be		paragraph	   */
/* #ff8906		button */
/* #f25f4c		secondary */
/* #e53170		tertiary */

  /* ------------------------------------------------------------- */
